<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Choremate!</h1>
    <p>
      You have been invited to join a household, called <%= @household.name %><br/>
    </p>
    <p>To accept the invitation, please visit this link: <%= @join_url %></p>
    <p>
      You will need to create a Choremate account, before you can join a household.
    </p>
    <p>Thanks,</p>
    <p>Choremate</p>
  </body>
</html>
